PORT=5000
MONGO_URI=mongodb+srv://wadanegassa:w1122334455@harari-savings-cluster.qlfku5k.mongodb.net/?appName=harari-savings-cluster
JWT_SECRET=supersecretjwtkey
JWT_EXPIRES_IN=7d
SYSTEM_MULTIPLIER=3
SEED_ADMIN_EMAIL=admin@harari.local
SEED_ADMIN_PASSWORD=AdminPass123
